// Define variables for your color scheme

// For example:
$white: #ffffff;
$red: #FD1015;
$blue: #167FFB;
$gray-blue: #36577f;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #302e33;
$light-gray: #F4F4F4;
