// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-dose-card {
  color: $white;
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: 20px;
  width: 600px;
  margin: auto;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("three_cocktails.jpeg");
}
